JSON Code
{
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "YOUR_SPREADSHEET_ID",
        "range": "Sheet1!A2:C",
        "valueRenderMode": "FORMATTED_VALUE"
      },
      "id": "1",
      "name": "Read from Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [200, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets OAuth"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "authentication": "headerAuth",
        "jsonParameters": true,
        "headers": [
          {
            "name": "Authorization",
            "value": "Bearer YOUR_OPENAI_API_KEY"
          }
        ],
        "bodyParametersJson": "{\n  \"model\": \"gpt-4-0613\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a creative scriptwriter for YouTube Shorts.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a YouTube Shorts script about: {{$json[\"idea\"]}}\"\n    }\n  ],\n  \"functions\": [\n    {\n      \"name\": \"format_script\",\n      \"description\": \"Format script with hook, middle, and call-to-action\",\n      \"parameters\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"hook\": { \"type\": \"string\" },\n          \"body\": { \"type\": \"string\" },\n          \"cta\": { \"type\": \"string\" }\n        },\n        \"required\": [\"hook\", \"body\", \"cta\"]\n      }\n    }\n  ]\n}"
      },
      "id": "2",
      "name": "OpenAI - Generate Script",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [400, 200]
    },
    {
      "parameters": {
        "functionCode": "const parsed = JSON.parse(items[0].json.choices[0].message.function_call.arguments);\nreturn [{ json: { script: `${parsed.hook}\\n${parsed.body}\\n${parsed.cta}` } }];"
      },
      "id": "3",
      "name": "Parse & Format Script",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [600, 200]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos?part=snippet,status",
        "method": "POST",
        "authentication": "headerAuth",
        "jsonParameters": true,
        "headers": [
          {
            "name": "Authorization",
            "value": "Bearer YOUR_YOUTUBE_API_KEY"
          }
        ],
        "bodyParametersJson": "{\n  \"snippet\": {\n    \"title\": \"AI Shorts - {{$json[\"script\"].substring(0, 40)}}\",\n    \"description\": \"Generated by AI\\n{{$json[\"script\"]}}\",\n    \"tags\": [\"AI\", \"Shorts\", \"Automation\"],\n    \"categoryId\": \"22\"\n  },\n  \"status\": {\n    \"privacyStatus\": \"public\"\n  }\n}"
      },
      "id": "4",
      "name": "Upload to YouTube",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [800, 200]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "✅ New YouTube Short script posted!\n\n{{$json[\"script\"]}}",
        "additionalFields": {}
      },
      "id": "5",
      "name": "Notify via Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1000, 100],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CRED_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "you@example.com",
        "toEmail": "recipient@example.com",
        "subject": "📹 New YouTube Shorts Script Posted",
        "text": "Hey,\n\nA new script was posted to YouTube:\n\n{{$json[\"script\"]}}"
      },
      "id": "6",
      "name": "Send Email (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1000, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CRED_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sheetId": "YOUR_SPREADSHEET_ID",
        "range": "Sheet1!D2",
        "valueInputMode": "RAW",
        "values": [["Posted"]]
      },
      "id": "7",
      "name": "Update Sheet Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [1200, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets OAuth"
        }
      }
    }
  ],
  "connections": {
    "Read from Google Sheets": {
      "main": [[{ "node": "OpenAI - Generate Script", "type": "main", "index": 0 }]]
    },
    "OpenAI - Generate Script": {
      "main": [[{ "node": "Parse & Format Script", "type": "main", "index": 0 }]]
    },
    "Parse & Format Script": {
      "main": [
        { "node": "Upload to YouTube", "type": "main", "index": 0 },
        { "node": "Notify via Telegram", "type": "main", "index": 0 },
        { "node": "Send Email (Gmail)", "type": "main", "index": 0 }
      ]
    },
    "Upload to YouTube": {
      "main": [[{ "node": "Update Sheet Status", "type": "main", "index": 0 }]]
    }
  }
}
